.mooli-regular {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header{
    font-family: "Mooli", sans-serif;
    text-align: center;
    background:#E1CDC6;
    color: #564335;
    padding: 10px 0;
  }
ul li{
    font-family: "Mooli", sans-serif;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    border-width: 1px #F4DAB5;
    border-style: dotted;
    border-radius: 20px;
    padding: 5px;
}
  Body{
    font-family: "Mooli", sans-serif;
    text-align: center;
    background:#F1E9E6;
    color: #C49488;
    padding: 10px 0;
  }  
  textarea{
    font-family: "Mooli", sans-serif;
    font-size: 100%;
    background: #f1f0f8;
    box-sizing: border-box;
    width:500px;
    border-radius: 25px;
    padding: 10px;
    height: 200px;
    border: #F2B892;
    border-width: 3px;
    border-style: solid;
    margin: auto;
    display: block;
  }
  button{
    font-family: "Mooli", sans-serif;
    font-weight: normal;
    font-size:100%;
    width: 20%;
    display: block; 
    margin: auto;
    margin-top: 3rem;
    padding: 30px;
    background-color: #E1CDC6;
    border: #C49488;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    border-radius:20px;
  }
    footer{
        font-family: "Mooli", sans-serif;
        text-align: right;
        margin-top: 100px;
        margin-bottom: 100px;
    }
  